$text-primary: #A8071A;
$text-secondary: #2B2A4C;
$text-white: #fff;

$primary-bg: #F5222D1F;
$secondary-bg: #52C41A29;
$primary-color: #C5091F;
$secondary-color: #ccc;
$third-color: #ccc;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$gray-darker: #3A3A3C;

$wrapper: 1920px;